{% include "header.html" %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Services</h2>
          <ol>
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li>Services</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section id="services" class="services">
      <div class="container">

        <div class="row">
          <div class="col-md-6">
            <div class="icon-box">
              <i class="bi bi-briefcase"></i>
              <h4><a href="#">Graphic Design</a></h4>
              <p>Elevate your brand with stunning visuals and creative designs.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-card-checklist"></i>
              <h4><a href="#">E-commerce Solutions</a></h4>
              <p>Boost sales with optimized listings and strategic product management.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-bar-chart"></i>
              <h4><a href="#">SEO Services</a></h4>
              <p>Improve your online visibility and drive organic traffic effectively.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-binoculars"></i>
              <h4><a href="#">Copywriting</a></h4>
              <p>Engage your audience with compelling and persuasive content.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-brightness-high"></i>
              <h4><a href="#">Python Scripts</a></h4>
              <p>Automate tasks and enhance efficiency with customized Python scripts.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-calendar4-week"></i>
              <h4><a href="#">Landing Pages</a></h4>
              <p>Convert visitors into customers with high-converting landing page designs.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title">
          <h2>Features</h2>
          <p>Check our Features</p>
        </div>

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Custom Design</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">E-commerce Solutions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">SEO Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Copywriting Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Python Programming Scripts</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Customized Visual Solutions</h3>
                    <p class="fst-italic">Enhance brand identity with bespoke graphic designs tailored to your unique vision and audience.</p>
                    <p>At WEBR, we specialize in creating visually striking designs that resonate with your target audience. From logos to comprehensive branding packages, our team ensures every design element reflects your brand's essence and captivates your audience.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/features-1.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Optimized Online Stores</h3>
                    <p class="fst-italic">Drive sales with optimized e-commerce solutions, including product listings and seamless user experiences.</p>
                    <p>We offers end-to-end e-commerce solutions designed to maximize your online store's performance. From strategic product positioning to intuitive user interface design, we help you create a seamless shopping experience that converts visitors into loyal customers.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/features-2.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Enhanced Online Visibility</h3>
                    <p class="fst-italic">Improve search engine rankings and attract more organic traffic with WEBR's expert SEO strategies.</p>
                    <p>Our SEO experts employ advanced techniques to enhance your website's visibility on search engines. Through keyword optimization, content strategy, and technical SEO audits, we ensure your business stands out in competitive online landscapes.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/features-3.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Compelling Content Creation</h3>
                    <p class="fst-italic">Engage your audience and boost conversions with persuasive copywriting services from WEBR.</p>
                    <p>WEBR's copywriters craft compelling content that speaks directly to your audience's needs and desires. Whether it's website copy, blog posts, or marketing materials, we deliver content that drives engagement, builds trust, and encourages action.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/features-4.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Automation and Efficiency</h3>
                    <p class="fst-italic">Streamline operations and enhance productivity with customized Python scripts developed by WEBR.</p>
                    <p>Our experienced Python developers create tailored scripts to automate repetitive tasks, integrate systems, and improve workflow efficiency. From data analysis to backend automation, WEBR helps businesses achieve operational excellence through innovative scripting solutions.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/features-5.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

  </main><!-- End #main -->

  {% include "footer.html" %}